body {
    background-color: salmon;
}
nav {
    width: 100%;
    background-color: seashell;
    overflow: auto;
}
ul {
    padding: 0;
    margin-top: 0px;
    list-style: none;
    
}
li {
    float:right;
    
}
nav a {
    width: 100px;
    display: block;
    padding: 50px 15px;
    text-decoration: none;
    font-family:Arial;
    text-align:center;
    color:black;
}
nav a:hover {
    background: salmon;
    transition: 0.5s;
    text-transform: uppercase;
}
.logo img {
    position: absolute;
    margin-top: 15px;
    margin-left: 70px;
    height: 75px;
}
.patsh1 {
    text-align: center;
    font-size: 100px;
}

.flex-container{
    display:flex;
    flex-direction: row;
    
    
}
img {
    height: 300px;
    
    margin-left: 100px;
}

.foot{ 
    width: 100%;
    background-color: seashell;
    overflow: auto;
    padding: 20px;
}