body {
    background-color: white;
    }

h1{
    text-align: center;
}

#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    }
    
#table td, tables th {
border: 1px solid indianred;
padding: 8px;
}

img {
    border-radius: 10px;
}
    

#table tr:hover {background-color:salmon;}

#table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: indianred;
color: black;
text-align: center;